# Environment variables
VITE_API_BASE_URL=http://localhost:3000
VITE_API_KEY=FplayChile-9d8f3a7b1c2e4f6g8h0j1k2l3m4n5o6p7q8r
VITE_USE_DB_MOCK=false
VITE_GOOGLE_CLIENT_ID=697210287082-0t4stg6fqmo84cfae611l6hnficfn5qc.apps.googleusercontent.com
